In [15]:
import pandas as pd

In [16]:
from tabulate import tabulate

In [17]:
df=pd.read_csv("D:\Dokumen\Modul Praktikum Semester 5\Praktikum Kecerdasan Buatan\games.csv")

In [18]:
df

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

## Menampilkan jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya

In [20]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

kamus= {
    "total record": totalRecord,
    "Nama Attribute": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(kamus)

total record                                                  20058
Nama Attribute    Index(['id', 'rated', 'created_at', 'last_move...
Jumlah Objek                                                      9
Jumlah Angka                                                      6
Jumlah NULL                                                       0
dtype: object

In [21]:
tab=pd.DataFrame(kamus)
print(tabulate(tab,headers="keys",tablefmt="psql", showindex=False))

+----------------+------------------+----------------+----------------+---------------+
|   total record | Nama Attribute   |   Jumlah Objek |   Jumlah Angka |   Jumlah NULL |
|----------------+------------------+----------------+----------------+---------------|
|          20058 | id               |              9 |              6 |             0 |
|          20058 | rated            |              9 |              6 |             0 |
|          20058 | created_at       |              9 |              6 |             0 |
|          20058 | last_move_at     |              9 |              6 |             0 |
|          20058 | turns            |              9 |              6 |             0 |
|          20058 | victory_status   |              9 |              6 |             0 |
|          20058 | winner           |              9 |              6 |             0 |
|          20058 | increment_code   |              9 |              6 |             0 |
|          20058 | white_id         |              9 |              6 |             0 |
|          20058 | white_rating     |              9 |              6 |             0 |
|          20058 | black_id         |              9 |              6 |             0 |
|          20058 | black_rating     |              9 |              6 |             0 |
|          20058 | moves            |              9 |              6 |             0 |
|          20058 | opening_eco      |              9 |              6 |             0 |
|          20058 | opening_name     |              9 |              6 |             0 |
|          20058 | opening_ply      |              9 |              6 |             0 |
+----------------+------------------+----------------+----------------+---------------+

## Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

## 1. Mean atau Rata Rata

In [22]:
df.select_dtypes(include=['int64', 'float64']).mean()

created_at      1.483617e+12
last_move_at    1.483618e+12
turns           6.046600e+01
white_rating    1.596632e+03
black_rating    1.588832e+03
opening_ply     4.816981e+00
dtype: float64

## 2. Nilai Minimum

In [23]:
df.select_dtypes(include=['int64', 'float64']).min()

created_at      1.376772e+12
last_move_at    1.376772e+12
turns           1.000000e+00
white_rating    7.840000e+02
black_rating    7.890000e+02
opening_ply     1.000000e+00
dtype: float64

## 3. Nilai Maksimum

In [24]:
df.select_dtypes(include=['int64', 'float64']).max()

created_at      1.504493e+12
last_move_at    1.504494e+12
turns           3.490000e+02
white_rating    2.700000e+03
black_rating    2.723000e+03
opening_ply     2.800000e+01
dtype: float64

## 4. Q1, Q2, dan Q3

In [25]:
df.select_dtypes(include=['int64', 'float64']).quantile([0.20,0.4,0.80])

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
0.2,1.467734e+12,1.467734e+12,33.0,1351.0,1346.0,2.0
0.4,1.490048e+12,1.490050e+12,48.0,1500.0,1500.0,4.0
0.8,1.503663e+12,1.503665e+12,86.0,1844.0,1835.0,7.0

## 5. Standar Deviasi

In [26]:
df.select_dtypes(include=['int64', 'float64']).std()

created_at      2.850151e+10
last_move_at    2.850140e+10
turns           3.357058e+01
white_rating    2.912534e+02
black_rating    2.910361e+02
opening_ply     2.797152e+00
dtype: float64

## Tampilkan nilai korelasi attribute bertipe angka

In [27]:
df.corr()

,rated,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
rated,1.000000,-0.001171,-0.001176,0.090698,0.003284,0.032655,-0.001906
created_at,-0.001171,1.000000,1.000000,0.083185,0.116170,0.133316,0.100201
last_move_at,-0.001176,1.000000,1.000000,0.083196,0.116172,0.133318,0.100203
turns,0.090698,0.083185,0.083196,1.000000,0.129753,0.160467,0.055999
white_rating,0.003284,0.116170,0.116172,0.129753,1.000000,0.634171,0.277379
black_rating,0.032655,0.133316,0.133318,0.160467,0.634171,1.000000,0.255396
opening_ply,-0.001906,0.100201,0.100203,0.055999,0.277379,0.255396,1.000000

## Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [28]:
df["turns"].head()

0    13
1    16
2    61
3    61
4    95
Name: turns, dtype: int64

## Kalikan salah satu kolom dengan tipe data int64 dengan bilangan koma sembarang ang kita mau

In [29]:
df["turns"]=df["turns"]*0.002

In [30]:
df["turns"].head()

0    0.026
1    0.032
2    0.122
3    0.122
4    0.190
Name: turns, dtype: float64

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [31]:
df.select_dtypes(include=['int64', 'float64']).head(10)

     created_at  last_move_at  turns  white_rating  black_rating  opening_ply
0  1.504210e+12  1.504210e+12  0.026          1500          1191            5
1  1.504130e+12  1.504130e+12  0.032          1322          1261            4
2  1.504130e+12  1.504130e+12  0.122          1496          1500            3
3  1.504110e+12  1.504110e+12  0.122          1439          1454            3
4  1.504030e+12  1.504030e+12  0.190          1523          1469            5
5  1.504240e+12  1.504240e+12  0.010          1250          1002            4
6  1.504230e+12  1.504230e+12  0.066          1520          1423           10
7  1.503680e+12  1.503680e+12  0.018          1413          2108            5
8  1.503510e+12  1.503510e+12  0.132          1439          1392            6
9  1.503440e+12  1.503440e+12  0.238          1381          1209            4

## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [32]:
df.select_dtypes(include=['int64', 'float64']).to_csv("games.csv", index=False)